In [2]:
import pandas as pd
import numpy as np

In [24]:
fish_data = pd.read_csv('~/data/fish_test_data_100k.csv')
# 표준점수(standard score)
# 표준점수 = (데이터 - 평균) / 표준편차
mean = np.mean(fish_data.iloc[:,[0,1]], axis=0)
std = np.std(fish_data.iloc[:,[0,1]], axis=0)
train_scaled = (fish_data.iloc[:,[0,1]] - mean) / std

print(train_scaled)
df.to_parquet("~/data/fish_test_data_100k.parquet")

         Length    Weight
0      1.486782  1.700729
1     -0.916632 -0.892264
2     -0.918001 -0.875905
3      0.730426  0.729281
4     -0.882817 -0.903601
...         ...       ...
99995 -0.946714 -0.903656
99996  0.757990  0.210116
99997 -0.809214 -0.889971
99998  0.872280  0.236213
99999  1.180343  1.024661

[100000 rows x 2 columns]

In [10]:
data = pd.read_parquet("/home/kim1/data/fish_parquet/fish_predict_parquet49")
data

         Length    Weight result
0      1.486782  1.700729     도미
1     -0.916632 -0.892264     도미
2     -0.918001 -0.875905     도미
3      0.730426  0.729281     도미
4     -0.882817 -0.903601     도미
...         ...       ...    ...
99995 -0.946714 -0.903656     도미
99996  0.757990  0.210116     도미
99997 -0.809214 -0.889971     도미
99998  0.872280  0.236213     도미
99999  1.180343  1.024661     도미

[100000 rows x 3 columns]